*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Rubik', sans-serif; ;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
h1{
    color: deeppink;
}
.section-colum{
    margin: 3%;
}
.fleaft{
    float: left;
}
.fright{
    float: right;
}
.box{
    background-color: rgba(7, 7, 7, 0.841);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    width:calc(100% / 3 - 40px);
}
.id-img{
    width: 100px;
}
.box-id{
    color: white;
    line-height: 25px;
    text-align: left;
    margin: 4% 0 0% 35%;
}
.id{
    font-size: 20px;
    font-style: bold;
}
.box a{
    text-decoration: none;
    color: aqua;
}